.container-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #FFF;
    color: rgba(55, 85, 111);
}

.main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 12px;
}

.main-left img {
    width: 300px;
}

.main-left h3 {
    font-weight: lighter;
    font-size: 1.2rem;
}

.main-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right-top,
.right-down {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.right-top h4 {
    display: flex;
    margin-left: 20px;
    font-weight: 400;
}

.right-top img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.right-down h4 {
    all: unset;
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
}

.right-down h4:hover {
    color: rgb(0, 0, 146);
    transform: scale(1.1)
}

@media (max-width: 800px) {

    .container-header {
        padding: 5px;
    }

    .main-left img {
        width: 120px;
    }

    .main-left h3 {
        font-size: 0.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .right-top {
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .right-top img {
        width: 0.9rem;
        height: 0.9rem;
    }

    .right-down {
        font-size: 0.9rem;
    }

}