.container-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #FFF;
    color: rgba(55, 85, 111);
}

.main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    width: 25%;
}

.main-left img {
    width: 300px;
}

.main-left h4 {
    font-weight: lighter;
    font-size: 1.2rem;
}

.main-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right-top,
.right-down {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-top {
    flex-direction: column;
    align-items: flex-end;
}


.right-top h4 {
    display: flex;
    margin-left: 20px;
    font-weight: 400;
}

.right-top img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.social-media {
    display: flex;
    margin-bottom: 5px;
}

.social-media h4 {
    font-weight: 700;
}

.right-down h4 {
    all: unset;
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
}

.right-down h4:hover {
    color: rgb(0, 0, 146);
    transform: scale(1.1);
    transition: all 500ms;
}

@media (max-width: 750px) {

    .container-header {
        padding: 5px;
    }

    .main-right {
        width: 50%;
    }

    .main-left {
        width: 50%;
        margin-left: 0px;
    }

    .main-left img {
        width: 130px;
    }

    .main-left h4 {
        font-size: 0.5rem;
    }

    .right-top {
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        text-align: end;
    }

    .container-header .social-media {
        align-items: flex-end;
    }

    .social-media {
        flex-direction: column;
        text-align: end;
    }

    .right-top img {
        width: 0.9rem;
        height: 0.9rem;
    }

    .right-down {
        font-size: 1rem;
        margin-top: 10px;
    }

}