.container-footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #FFF;
    color: rgba(55, 85, 111);
}

.left-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-footer h4 {
    display: flex;

    font-weight: 400;
    margin-bottom: 5px;
}

.left-footer img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


.social-media {
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
}

.social-media h4 {
    font-weight: 700;
    margin-right: 8px;
}

.right-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-footer h4 {
    all: unset;
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
}

.right-footer h4:hover {
    color: rgb(0, 0, 146);
    transform: scale(1.1);
}

@media (max-width: 800px) {

    .container-footer {
        padding: 8px;

    }

    .left-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .left-footer h4 {
        font-size: 1rem;
    }

    .left-footer span {
        font-size: 1rem;
        width: 80%;
    }

    .left-footer img {
        width: 0.9rem;
        height: 0.9rem;
    }

    .right-footer {
        font-size: 1.2rem;
        display: flex;
        width: 50%;
    }

}