.container-footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #FFF;
    color: rgba(55, 85, 111);
}

.left-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-footer h4 {
    display: flex;
    margin-left: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}

.left-footer img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.right-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-footer a {
    all: unset;
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 500px) {

    .container-footer {
        padding: 8px 8px 0px 0px;
    }

    .left-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .left-footer h4 {
        font-size: 1rem;
    }

    .left-footer img {
        width: 0.9rem;
        height: 0.9rem;
    }

    .right-footer {
        font-size: 0.9rem;
    }

}