.container-office {
    background-color: rgb(0, 47, 88, 0.95);
    color: #FFF;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-images {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

img {
    width: 390px;
}

.about-office {
    width: 85%;
    border-left: 1px solid lightgray;
    margin: 10px;
}

.about-office h3 {
    font-family: 'Playfair Display', serif;
}

@media (max-width: 800px) {

    .container-office {
        margin-top: 10px;
    }

    .container-images img {
        width: 40%;
    }

    .about-office {
        font-size: 1.1rem;
    }
}